
.slick-next{
    right: 5px;
}

.slick-prev{
    left: 5px;
}

.slick-prev::before , .slick-next::before{
    font-size: 20px;
    visibility: hidden;
}

.slick-slider:hover .slick-next::before{
    visibility: visible;
}

.slick-slider:hover .slick-prev::before{
    visibility: visible;
}

.slick-arrow{
    z-index: 1;
}

.slick-arrow.slick-prev{
    background: none;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card a {
    color: inherit;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}